body {
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.name {
  padding: 12px;
}

.image {
  border-radius: 50%;
  width: 25%;
  border: dotted white;
}

@media only screen and (max-width: 600px) {
  .image {
    border-radius: 50%;
    width: 50%;
  }
}
